doctype html
html
  head
    script(src="/jspm_packages/system.js")
    script(src="/config.js")
    script
      | System.import('app');
    title Hello world!
  body(style="display: none")
    div.container
      .page-header
        block header
          p
              a(href='/') Home
              if !username
                  | &nbsp;|&nbsp;
                  a(href='/users/login') Login
                  | &nbsp;|&nbsp;
                  a(href='/users/register') Register
              else
                  | &nbsp;|&nbsp;
                  a(href='/users/' + username) My Page
                  | &nbsp;|&nbsp;
                  a(href='/users/logout') Logout
      if flash_message
        p()
            font(color='red')
                = flash_message
      block body
