extends ./layout.pug
block body
    h1 Register

    form.form-inline(method='POST' action='/users/register')
        div.form-group
            p Username
            input.form-control(type='text' name='username')
            p Password
            input.form-control(type='password' name='password')
        br
        br
        button#add.btn.btn-default Register
